<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>
    <link href="{{ asset('img/favicon.ico')}}" rel="shortcut icon"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
    <style>
        body{
            background: no-repeat 100% url("{{ asset('https://i.pinimg.com/originals/5d/ca/87/5dca87b6088664ae9fa8080986a58b4c.png') }}");
            background-size: cover;

        }
    </style>
</head>
<body>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

    {% endif %}


    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 d-flex align-items-center justify-content-center" style="margin-top: 8%">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center">
                    <div class="card col-lg-12 mx-auto" style="background-color: rgba(255,255,255,0.75)">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Connexion</h3>
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail p_input" class="form-control" autocomplete="email" required autofocus>

                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Mot de passe</label>

                                    <input type="password" name="password" id="inputPassword" class="form-control p_input" autocomplete="current-password" required>

                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <div class="text-center d-flex justify-content-center">

                                    <button class="btn btn-warning btn-block enter-btn text-white w-50 " type="submit">
                                        connexion
                                    </button>
                                </div>

                                </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}



</form>

<script src="{{ asset('assets/js/off-canvas.js') }}"></script>
<script src="{{ asset('assets/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('assets/js/misc.js') }}"></script>
<script src="{{ asset('assets/js/settings.js') }}"></script>
<script src="{{ asset('assets/js/todolist.js') }}"></script>
</body>
</html>