{% extends 'base.html.twig'%}


{% block body %}
    {% block content %}
{% set colors=["#4b0082	","#dc143c","#0000FF","#FFFF00"] %}
<section class="page-info-section set-bg" data-setbg="{{ asset('uploads/'~actualites.imageAct)}}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2><span  style="background:{{random(colors)}}">{{ actualites.categorie.NomCatActualite }}</span></h2>
                    <h3>{{ actualites.description }}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="row">
    <div class="col-8">
    <div class="container">
    <p>{{actualites.etendu}}</p>
    </div></div>
    </div>

    <div class="col-4">
        <div class="container">
            {% include 'act/side.html.twig' %}
        </div>
    </div>

<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">



            <section class="page-section spad contact-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="comment-title">Contact us</h4>
                            <p></p>
                                <div class="col-md-9">
                                    <ul class="contact-info-list">
                                        <li><div class="cf-left">Address</div><div class="cf-right">1481 Creekside Lane Avila Beach, CA 931</div></li>
                                        <li><div class="cf-left">Phone</div><div class="cf-right">+53 345 7953 32453</div></li>
                                        <li><div class="cf-left">E-mail</div><div class="cf-right">yourmail@gmail.com</div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="social-links">
                                <a href="{{ asset('#')}}"><i class="fa fa-pinterest"></i></a>
                                <a href="{{ asset('#')}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{ asset('#')}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{ asset('#')}}"><i class="fa fa-dribbble"></i></a>
                                <a href="{{ asset('#')}}"><i class="fa fa-behance"></i></a>
                                <a href="{{ asset('#')}}"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

            </section>

            {% endblock%}
{% endblock%}