{% extends 'base.html.twig'%}


{% block body %}
{% block content %}
    {% set colors=["#4b0082	","#dc143c","#0000FF","#FFFF00"] %}
    <section class="page-info-section set-bg" data-setbg="{{ asset('uploads/'~actualites.imageAct)}}">
        <div class="pi-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 text-white">
                        <h2><span  style="background:{{random(colors)}}">{{ actualites.categorie.NomCatActualite }}</span></h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-8">
            <div class="container">
                <h1 style="color: #0000cc">{{ actualites.titreActualite }}</h1>
                <h2 style="color: #5b171a">{{ actualites.description }}</h2>
                <p>{{ actualites.dateAct? actualites.dateAct|date('Y-m-d') : '' }}</p>
                <h3>{{actualites.etendu}}</h3>
            </div></div>
    </div>






{% endblock%}
{% endblock%}