{% extends 'back.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    {% block content %}

    <h1>Reclamation index</h1>



 
    <a type="submit" href="{{ path('app_typereclamations_new') }}">Add reclamation Type</a>
        <div class="d-flex flex-column">
        {% include 'reclamation/_filtre.html.twig' with {form : form} only %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet_rec</th>
                <th>Niveau</th>
                <th>User_id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.sujetRec }}</td>
                <td>{{ reclamation.niveau }}</td>
                <td>{{ reclamation.userId }}</td>
                 <td>{{ reclamation.typereclamations }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

    <a href="{{ path('reclamation_new') }}">Create new</a>

    {% endblock %}
{% endblock %}

