{% extends 'actualite/show.html.twig' %}

{% block title %}CommentAct{% endblock %}

{% block body %}
    <h1>CommentAct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdComment</th>
                <td>{{ comment_act.idComment }}</td>
            </tr>
            <tr>
                <th>CommentAct</th>
                <td>{{ comment_act.commentAct }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_act_index') }}">back to list</a>

    <a href="{{ path('comment_act_edit', {'idComment': comment_act.idComment}) }}">edit</a>

    {{ include('comment_act/_delete_form.html.twig') }}
{% endblock %}
