<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Game Warrior Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Game Warrior Template">
    <meta name="keywords" content="warrior, game, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <!-- Favicon -->
    {% block icon %}
        <link href="{{ asset('img/favicon.ico')}}" rel="shortcut icon"/>
    {% endblock %}
    <!-- Google Fonts -->
    {% block googlefront %}
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i')}}" rel="stylesheet">
    {% endblock %}

    <!-- Stylesheets -->
    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/animate.css')}}"/>
    {% endblock %}

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 100000;
            height: 150px;
        }

        .dropdown:hover .dropdown-content {
            display: block;

        }
    </style>
    <!--[if lt IE 9]>
    {% block js %}
    <script src="{{ asset('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')}}"></script>
    <script src="{{ asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')}}"></script>
    {% endblock %}
    <![endif]-->

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
{% block header %}
    <header class="header-section">
        <div class="container">
            <!-- logo -->
            <a class="site-logo" href="{{ asset('new')}}">
                <img src="{{ asset('img/logo.png')}}" alt="">
            </a>
            <div class="user-panel">
                {% if app.user %}

                    <div class="dropdown">
                        <a href="/user/compte">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-content mb-3">
                            <a href="/user/compte" class="mb-2">Mon Compte</a>
                            <a href="/logout">Déconnexion</a>

                        </div>
                    </div>
                {% else %}
                    <a href="{{ asset('/login')}}">Connexion</a>  /  <a href="{{ asset('/inscription')}}">Inscription</a>
                {% endif %}
            </div>
            <!-- responsive -->
            <div class="nav-switch">
                <i class="fa fa-bars"></i>
            </div>
            <!-- site menu -->
            <nav class="main-menu">
                <ul>
                    <li><a href="{{ asset('new')}}">Home</a></li>
                    <li><a href="/afficherProdfront">Boutique</a></li>
                    <li><a href="/actualite">Actualite</a></li>
                    <li><a href="/evenement">Evenements</a></li>
                    {% if app.user %}
                        <li><a href="/reclamation/new">Reclamation</a></li>
                    {% endif %}
                    <li><a href="/cart">Panier</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}
<!-- Header section end -->


<!-- Latest news section -->


<!-- Latest news section end -->


<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="{{asset( 'img/page-top-bg/1.jpg ')}}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Gaming News</h2>
                    <h3>In this section you can find out the news of gaming world</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->

{% block body %}
<!-- Page section -->
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/1.jpg">
                                <div class="cata new">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Suspendisse ut justo tem por, rutrum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/2.jpg">
                                <div class="cata racing">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Susce pulvinar metus nulla, vel  facilisis sem </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/3.jpg">
                                <div class="cata adventure">Adventure</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Susce pulvinar metus nulla, vel  facilisis sem </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/4.jpg">
                                <div class="cata new">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Suspendisse ut justo tem por, rutrum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/5.jpg">
                                <div class="cata racing">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Susce pulvinar metus nulla, vel  facilisis sem </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/6.jpg">
                                <div class="cata adventure">Adventure</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Susce pulvinar metus nulla, vel  facilisis sem </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/7.jpg">
                                <div class="cata new">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Suspendisse ut justo tem por, rutrum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/8.jpg">
                                <div class="cata racing">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>Susce pulvinar metus nulla, vel  facilisis sem </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
                                <a href="{{ asset('#')}}" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="{{ asset('img/icons/star.png')}}" alt=""></div>
                                    <div class="rgi-heart"><img src="{{ asset('img/icons/heart.png')}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-pagination">
                    <span class="active">01.</span>
                    <a href="{{ asset('#')}}">02.</a>
                    <a href="{{ asset('#')}}">03.</a>
                </div>
            </div>
            {% endblock body%}




<!-- Page section end -->

{% block footer %}
<!-- Footer top section -->
<section class="footer-top-section">
    <div class="container">
        <div class="footer-top-bg">
            <img src="{{ asset('img/footer-top-bg.png')}}" alt="">
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo text-white">
                    <img src="{{ asset('img/footer-logo.png')}}" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mb-5 mb-md-0">
                    <h4 class="fw-title">Latest Posts</h4>
                    <div class="latest-blog">
                        <div class="lb-item">
                            <div class="lb-thumb set-bg" data-setbg="img/latest-blog/1.jpg"></div>
                            <div class="lb-content">
                                <div class="lb-date">June 21, 2018</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                                <a href="{{ asset('#')}}" class="lb-author">By Admin</a>
                            </div>
                        </div>
                        <div class="lb-item">
                            <div class="lb-thumb set-bg" data-setbg="img/latest-blog/2.jpg"></div>
                            <div class="lb-content">
                                <div class="lb-date">June 21, 2018</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                                <a href="{{ asset('#')}}" class="lb-author">By Admin</a>
                            </div>
                        </div>
                        <div class="lb-item">
                            <div class="lb-thumb set-bg" data-setbg="img/latest-blog/3.jpg"></div>
                            <div class="lb-content">
                                <div class="lb-date">June 21, 2018</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum </p>
                                <a href="{{ asset('#')}}" class="lb-author">By Admin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h4 class="fw-title">Top Comments</h4>
                    <div class="top-comment">
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" data-setbg="img/authors/1.jpg"></div>
                            <div class="tc-content">
                                <p><a href="{{ asset('#')}}">James Smith</a> <span>on</span>  Lorem ipsum dolor sit amet, co</p>
                                <div class="tc-date">June 21, 2018</div>
                            </div>
                        </div>
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" data-setbg="img/authors/2.jpg"></div>
                            <div class="tc-content">
                                <p><a href="{{ asset('#')}}">James Smith</a> <span>on</span>  Lorem ipsum dolor sit amet, co</p>
                                <div class="tc-date">June 21, 2018</div>
                            </div>
                        </div>
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" data-setbg="img/authors/3.jpg"></div>
                            <div class="tc-content">
                                <p><a href="{{ asset('#')}}">James Smith</a> <span>on</span>  Lorem ipsum dolor sit amet, co</p>
                                <div class="tc-date">June 21, 2018</div>
                            </div>
                        </div>
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" data-setbg="img/authors/4.jpg"></div>
                            <div class="tc-content">
                                <p><a href="{{ asset('#')}}">James Smith</a> <span>on</span>  Lorem ipsum dolor sit amet, co</p>
                                <div class="tc-date">June 21, 2018</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer top section end -->


<!-- Footer section -->

    <footer class="footer-section">
        <div class="container">
            <ul class="footer-menu">
                <li><a href="{{ asset('new')}}">Home</a></li>
                <li><a href="{{ asset('shop')}}">Games</a></li>
                <li><a href="{{ asset('act')}}">Blog</a></li>
                <li><a href="{{ asset('act')}}">Evenements</a></li>
                <li><a href="{{ asset('forum')}}">Forums</a></li>
                <li><a href="{{ asset('contact')}}">Contact</a></li>
            </ul>
            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{{ asset('https://colorlib.com" target="_blank')}}">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </footer>
{% endblock %}
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
{% block jss %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('js/jquery.marquee.min.js')}}"></script>
    <script src="{{ asset('js/main.js')}}"></script>
{% endblock %}
        </div>
    </div>
</section>
</body>
</html>